# Laravel
/src/vendor
/src/node_modules

# Environment
/src/.env
/src/.env.backup
/src/.env.production

# Storage
/src/storage/*.key
/src/storage/pail
/src/storage/logs
/src/public/storage

# Build
/src/public/build
/src/public/hot

# Logs
*.log
npm-debug.log
yarn-error.log

# Cache
/src/.phpunit.result.cache
/src/.phpunit.cache

# IDE
.vscode
.idea
.fleet
.zed

# OS
.DS_Store
Thumbs.db

# Docker volumes
postgres_data